.features-list {
  display: block;
}

.card:not(:last-child) {
  margin-bottom: 30px;
}

.features-decor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212121;
  text-align: center;
}

.features-description {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  .card {
    width: calc((100% - 30px) / 2);

    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }

  .features {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  .card {
    width: calc((100% - 90px) / 4);
  }

  .features {
    text-align: start;
  }
}
