.main-top {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header-mobile.jpg);
  background-size: cover;
  max-width: 480px;
  background-color: #c4c4c4;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
}

.headline {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .main-top {
    background-size: cover;
    max-width: 480px;
    background-color: #c4c4c4;
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;
  }

  .headline {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .main-top {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header-tablet.jpg);
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .main-top {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg.jpg);
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .headline {
    font-size: 44px;
    line-height: 1.36;
  }
}