.member-header {
  background-color: #f5f4fa;
}

.member-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.member-list-card {
  flex-basis: calc((100% - 90px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.container-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color var(--transition-dur-and-func),
    fill var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: #ffffff;
  }
}
