.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input {
  cursor: text;
  width: 100%;
  height: 40px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  transition: border-color var(--transition-dur-and-func);

  &:focus,
  &:hover {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form-hint {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 4px;
}

.modal-form-input-wrappe {
  position: relative;
  display: block;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: #212121;
  transition: fill var(--transition-dur-and-func);

  .modal-form-input:focus + &,
  .modal-form-input:hover + & {
    fill: var(--accent-color);
  }
}

.modal-form-message {
  cursor: text;
  width: 100%;
  height: 120px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--transition-dur-and-func);

  &::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus,
  &:hover {
    outline: none;
    border-color: var(--accent-color);
  }
}

@media screen and (min-width: 320px) {
  .coordination-box {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }

  .coordination {
    color: #757575;
  }

  .conditions {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196F3;

    &:hover {
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  .coordination {
    font-size: 14px;
    line-height: 1.71;
  }

  .conditions {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
