.modal-form-check-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-form-check {
  position: absolute;
  appearance: none;
}

.modal-form-own-checkbox {
  border: 2px solid #212121;
  border-radius: 2px;
  fill: #ffffff;
  cursor: pointer;
  margin-right: 7px;
  flex-shrink: 0; 

  .modal-form-check:checked + & {
    background-color: var(--accent-color);
    border: none;
  }

  .modal-form-check:focus + &,
  .modal-form-check:hover + & {
    box-shadow: 0 0 0 1px rgba(24, 140, 232, 0.8);
  }
}

.modal-form-own-checkbox-icon {
  display: none;

  .modal-form-check:checked + .modal-form-own-checkbox & {
    display: block;
  }
}